@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar{
    display: none;
    color: #9799aa4d;
    color: #ffc96b6c;
}
.slideout
{
    transition: 2s;animation: slide 0.5s;
    transform: translateX();
   
}

@keyframes slide{
    from {transform: scaleX(0.1);}
    to {transform: scaleX(1)}
  }